
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 

/* style dasar body */
body { 
    font-family: 'Times New Roman', Times, serif; 
    background-color: #E5F4DF; 
    color: #263238; 
    line-height: 1.6; 
    font-size: 20px; 
} 
 
/* header */
header { 
    background-color: #193C2F; 
    color: #F1F8ED; 
    text-align: center; 
    padding: 20px 10px; 
    border-radius: 10px; 
    margin: 5px; 
    border: 5px solid white; 
} 
 
header h1 { 
    margin-bottom: 5px; 
    font-size: 40px; 
} 
 
header h2 { 
    font-size: 20px; 
    font-weight: normal; 
} 

/* container utama: layout flex dengan 2 kolom*/
.main-container { 
    display: flex; 
    flex-direction: row; 
    gap: 20px; 
    padding: 25px; 
    /* width: 100%;  */
    max-width: 1700px; 
    margin: 0 auto; 
} 

/* kolom kiri : kontent utama */
.content { 
    flex: 2; 
    background: #F1F8ED; 
    padding: 20px; 
    border-radius: 10px; 
    border: 2px solid #344E41; 
} 

/* kolom kanan */
.sidebar-right { 
    flex: 1; 
    background: #F1F8ED; 
    padding: 35px; 
    border-radius: 10px; 
    border: 2px solid #344E41; 
} 

/* untuk yang heading 3 */
h3 { 
    color: #294936; 
    margin-bottom: 10px; 
    margin-top: 15px; 
} 
 
/* list */
ul, ol { 
    padding-left: 20px; 
    margin-bottom: 15px; 
} 
 
/* style tabel */
table { 
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 15px; 
    margin-bottom: 20px; 
} 
 
/* sel dalam tabel */
th, td { 
    border: 1px solid #8FB89C; 
    padding: 10px; 
    text-align: left; 
    vertical-align: middle; 
} 

/* header tabel */
th { 
    font-weight: bold; 
    text-align: center; 
    background: #D5EACD;
} 
 
/* warna baris tabel ganjil */
tr:nth-child(odd) { 
    background-color: #EEF7EA; 
} 
 
/* warna baris tabel genap */
tr:nth-child(even) { 
    background: #D5EACD; 
} 

/* efek hover pada baris tabel */
tr:hover { 
    background: #E5F4DF; 
} 
 
/* footer */
footer { 
    background-color: #193C2F; 
    color: #F1F8ED; 
    text-align: center; 
    padding: 15px; 
    font-size: 20px; 
    margin-top: 20px; 
    border-radius: 10px; 
    border: 5px solid white; 
} 
 
footer p { 
    margin: 3px 0; 
}